#margin{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
}
#margin2{
    margin-right: 37px;
    margin-left: 37px;
}
#margin3{
    margin-right: 500px;

}
.bordermargin{
    margin: 50px;
}
.background{
    background: #ffd9f1;
}
.text{
    font-family: Georgia;
    font-size: 20px;
}
